<header>
    <a href="index.php">
        <img class="header__logotype" src="images/logo-trans.png" 
        alt="Elutherian's logotyp, click to go to homepage"/>
    </a>
    <button class="header__hamburger" aria-label="öppna meny">
        <i class="fa fa-bars header__menu-icon" aria-hidden="true"></i>
    </button>
    <nav>
        <ul class="menu">
            <li class="menu__item menu__item--mobile-only">
                <button aria-label="klicka för att stänga">
                    <i class="fa fa-times menu__icon" aria-hidden="true"></i>
                </button>
            </li>
            <li class="menu__item menu__item--center">
                <a href="medlemskap.php">Medlemskap</a>
            </li>
            <li class="menu__item menu__item--center">
                <a href="galleri.php">Galleri</a>
            </li>
            <li class="menu__item menu__item--center menu__item--border">
                <a href="kontakt.php">Kontakta oss</a>
            </li>
        </ul>
    </nav>
</header>